{% extends 'base.html' %}

{% block head_script %}
    <link href="{{ url_for('static', filename = 'articles/node_modules/bootstrap/dist/css/bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('static', filename = 'articles/css/blog.css') }}"
          rel="stylesheet">
    <script src="{{ url_for('static', filename = 'articles/node_modules/jquery/dist/jquery.min.js') }}"></script>
    {#    <script type="text/javascript" src="{{ url_for('static', filename = 'blog/dist/bundle.js') }}"></script>#}
{% endblock %}

{% block title %}blog base{% endblock %}
{% block body %}
    {% block menubar %}
        <div class="blog-masthead">
            <div class="container">
                <nav class="blog-nav">
                    <a class="blog-nav-item" href="{{ url_for('main.index') }}">Home</a>
                    {% block edit %}{% endblock %}
                </nav>
            </div>
        </div>
    {% endblock %}


    <div class="container">


        <div class="row">

            {% block main %}
            {% endblock %}

        </div><!-- /.row -->

    </div><!-- /.container -->


    {% block foot %}
        <div class="blog-footer">
            <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a
                    href="https://twitter.com/mdo">@mdo</a>.</p>
            <p>
                <a href="#">Back to top</a>
            </p>
        </div>
    {% endblock %}

    {% block bottom_script %}

        <script src="{{ url_for('static', filename = 'articles/node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    {% endblock %}

{% endblock %}
